<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp / <%= shortUrl %></title>
  <% include ./partials/_head %>
</head>
<body>
  <% include ./partials/_header %>
  <div class="container">
    <h2><small class="text-muted">tinyapp.com/u/</small><strong><%= shortUrl %></strong></h2>
    
    <ul class="list-unstyled">
      <li>Visited: <%= urlData.visited %> times</li>
      <li>Created: <%= ta.ago(urlData.created) %></li>
      <li>Updated: <%= ta.ago(urlData.updated) %></li>
    </ul>

    <form method="POST" action="/urls/<%= shortUrl %>">
      <label for="longUrl">Update URL:</label>
      <input id="longUrl" type="text" name='longUrl' value="<%= urlData.longUrl %>">
      <button class="btn btn-outline-success" type='submit'>Update</button>
    </form>

    <form method="POST" action="/urls/<%= shortUrl %>/delete">
      <button class="btn btn-sm btn-outline-danger" type='submit'>Delete</button>
    </form>
    <a href='/urls'>Back to index</a>
  </div>
</body>
</html>