<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_head %>
</head>
<body>
<% include ./partials/_header %>
<div class="container">
  <a class="btn btn-lg btn-primary" href='/urls/new'>Add new URL</a>
    <ul class="list-group">
      <% for (key in urls) { %>
        <li class="list-group-item clearfix">
          
          <ul class="list-inline">
            <li class="list-inline-item">
              <span class=shortUrl>
                <span class="text-muted">/u/</span><strong><%= key %></strong>
              </span>
            </li>
            <li class="list-inline-item long-url-shortened">
              <%= urls[key].longUrl %>
            </li>
            <li class="list-inline-item">
              <small class="text-muted">Visited: <%= urls[key].allVisits.length %> times</small>
            </li>
            <li class="list-inline-item">
              <small class="text-muted">Unique visitors: <%= urls[key].uniqueVisitors.length %></small>
            </li>
            <li class="list-inline-item">
              <small class="text-muted">Updated: <%= ta.ago(urls[key].updated) %></small>
            </li>
          </ul>

          <span class="float-right">
            <div class="btn-group" role="group">
              <form action="/urls/<%= key %>">
                <button class="btn btn-sm btn-outline-primary" type='submit'>Edit</button>
              </form>
              <form method="POST" action="/urls/<%= key %>/delete">
                <button class="btn btn-sm btn-outline-danger" type='submit'>Delete</button>
              </form>
            </div>
          </span>
        </li>
      <% }
    %>
  </ul>
</div>
</body>
</html>